.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 10px 20px;
}
.header ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}
.header button {
  margin-left: 20px;
}
.navLink {
  margin: 0 5px;
}
.activeNavLink {
  font-weight: bold;
}
