body {
  background-image: url('https://wallpaperaccess.com/full/2483946.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position-y: -4rem;
}
