.shopList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  list-style: none;
  padding: 0;
}
@media screen and (min-width: 426px) {
  .shopList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 726px) {
  .shopList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  /* .shopList {
    grid-template-columns: repeat(4, 1fr);
  } */
}
