.shop {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  background-color: snow;
}
.shop__img {
  width: 300px;
  height: 200px;
  align-self: center;
}
.shop__name {
  font-size: 2rem;
}
.shop__desc {
}
.shop__town {
}
.shop__year {
}
